.warranty__country{
   position: relative;
}
.warranty__country p{
    font-size: .125rem /* 18/144 */;
    padding:.263889rem /* 38/144 */ 0px;
    text-align:left;
}
.country__list{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.country__section{
    flex:1;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
    position: relative;

}
.country__section p{
    position: absolute;
    bottom:-.451389rem /* -65/144 */;
    font-weight:450;
    text-align:center;
}
.country__section input{
    width:.138889rem /* 20/144 */;
}
.country__section h3{
    font-size:.166667rem /* 24/144 */;
}
.country__flag{
    width:80%;
}
.warranty__country .warning{
    bottom:-0.3rem;
    
}