.warranty__invoice{
    padding-top:.451389rem /* 65/144 */;
    position: relative;
}
.warranty__invoice p{
    font-size: .2rem /* 18/144 */;
    padding-bottom:.263889rem /* 38/144 */;
    text-align:left;
}
#invoice{
    display:block;
    border:none;
    border-bottom:1px solid #333;
    background-color:#eceaeb;
    height:.208333rem /* 30/144 */;
    padding-left:.069444rem /* 10/144 */;
    width:90%;
    font-size:.138889rem /* 20/144 */;
}