.banner{
    width:100%;
}.warranty__content{
    margin:.133333rem .8rem;
    background: #eceaeb;
    padding:.746667rem 1.333333rem;
    padding-top:0;
   
}
.warranty__content h2{
    font-size:.25rem /* 36/144 */;
    text-align: center;
    padding-bottom:.293333rem;
    color:#4a4647;
}
.warranty__content hr{
    border-color:#1a1a1a;
    border-width: 2px;
}
.subscribe{
    padding-top:.138889rem /* 20/144 */;

}
.subscribe__content h5{
    padding-bottom: .208333rem /* 30/144 */;

}
#subscribe{
    float:left;
    margin-right:.138889rem /* 20/144 */;
    width:.138889rem /* 20/144 */;
    height:.138889rem /* 20/144 */;
}
.subscribe__content h5{
    font-size:.125rem /* 18/144 */;
    margin-right:.069444rem /* 10/144 */;
    font-weight:500;
    

}
.subscribe__content p{
    font-size:.125rem /* 18/144 */;
}
.warranty__subscribe__button{
    padding-top:.576389rem /* 83/144 */;
}
.warranty__subscribe__button button{
    display:block;
    margin:0px auto;
    width: 100%;
    height: .381944rem /* 55/144 */;
    background:#383838;
    color:#eee;
    font-size:.166667rem /* 24/144 */;
}
