body,html{
    width:100%;
    background-color:#fff;
    height:100%;
}
#root{
    height:100%;
}
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.App{
    width:8.125rem /* 1170/144 */;
    background-color:#1E252D;
    margin: 0px auto;
    height:100%;
    /* min-height:1500px; */
    overflow-y:auto;
    padding-bottom:0px;
  
}
